@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Bad+Script&family=Cinzel:wght@500&family=Diplomata+SC&family=Lobster&family=Marck+Script&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-top {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: .2rem 2rem;
    gap: 15px;
    background-color: rgb(237, 237, 237);
    /* color: white; */
    font-size: 1rem;
    margin-top: 0;
    margin-right: 0;
    /* width: 100%; */
    /* z-index: 10; */
}

input {
    border: none;
    padding-inline: .6rem;
    padding-block: .3rem;
    border-radius: 15px;
    width: 4rem;
    /* transition: ease 600ms; */

}

input:focus {
    /* background-color: whitesmoke; */
    outline: none;
    width: initial;
    border: .5px solid black;
}

input:hover {
    background-color: rgb(203, 200, 200);
    cursor: pointer;
}

input::placeholder {
    font-size: .9rem;
    /* color: white; */
}



.nav-top img {
    width: 22px;
    height: 22px;
}

#logo {
    margin-right: auto;
}

#logo img {
    width: 40px;
    height: 40px;
}

ul {
    width: 100%;
}

.nav-top il:last-child,
.nav-top il:nth-child(6) {
    background-color: rgb(255, 255, 255);
    padding: .3rem 1rem;
    border-radius: 15px;
}

.nav-top il:last-child:hover,
.nav-top il:nth-child(6):hover {
    background-color: rgb(187, 185, 185);
    cursor: pointer;
    color: white;
}

.moveto {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-block: 2rem;
}

.moveto a {
    text-decoration: none;
    /* margin-inline: 0; */
    width: max-content;
    background-color: rgb(236, 232, 232);
    padding: .3rem 2rem;
    color: black;
}

.moveto a:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid black;
}

.moveto a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}

.moveto a:hover {
    background-color: black;
    color: white;
}

video {
    /* height: 90vw; */
    width: 70vw;
    /* position: ; */
    /* margin: auto; */
    /* padding: auto; */
}

.video-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: black;
}

.video-top h1 {
    text-transform: uppercase;
    font-size: 3vw;
    color: white;
    position: absolute;
    top: 50;
    left: 50;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.all-products {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 5vw;
    gap: 3rem;

}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* height: ; */
}

.shirts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shirts img,
.shoes img,
.pants img {
    width: 400px;
    /* height: 500px; */
}

.shirts,
.shoes,
.pants {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.sub-shirts,
.sub-shoes,
.sub-pants {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1.2rem;
    align-items: flex-end;
}

.buy {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h6 {
    margin: 0;
    font-size: 1.2rem;
}

.product a {
    font-size: 1.4rem;
    text-decoration: none;
    background-color: blue;
    padding: 0.3rem 1.1rem;
    border-radius: 15px;
    color: white;
}

h6:first-child {
    font-size: 1.3rem;
}

h6:last-child {
    color: grey;
}

.product:last-child {
    margin-bottom: 3rem;
}

.product {
    border-top: 1px solid black;
    flex-wrap: wrap;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
    /* margin-top: 6rem; */
}

footer {
    padding: 0.1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 3rem;
}

.contact,
.nav-media {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact {
    font-size: .8rem;
}

.nav-media {
    width: max-content;
}

.nav-media il {
    /* width: 40px;
    height: 40px; */
    text-decoration: none;
    border-radius: 50%;
    background-color: grey;
    padding: 0.5rem;
    padding-block: 0.3rem;
}

.nav-media img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-media il:hover {
    background-color: white;
}

#backto {
    text-decoration: none;
    color: black;
    padding: .5rem 1rem;
    background-color: whitesmoke;
    border-radius: 15px;
}

#backto:hover {
    color: white;
    background-color: black;
}

.anim1 {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 10rem;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1rem;
    -webkit-animation: slide-rotate-ver-r-fwd 2.5s cubic-bezier(.455, .03, .515, .955) both;
    animation: slide-rotate-ver-r-fwd 2.5s cubic-bezier(.455, .03, .515, .955) both;
}

.anim2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    padding-left: 1rem;
    background-color: black;
    color: white;
    font-size: 10rem;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 100000;
    /* transform: translateX(170px); */
    -webkit-animation: slide-rotate-ver-l-fwd 2.5s cubic-bezier(.455, .03, .515, .955) both;
    animation: slide-rotate-ver-l-fwd 2.5s cubic-bezier(.455, .03, .515, .955) both;
}

@-webkit-keyframes slide-rotate-ver-l-fwd {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: center right;
        transform-origin: center right
    }

    100% {
        -webkit-transform: translateZ(130px) rotateY(90deg);
        transform: translateZ(130px) rotateY(90deg);
        -webkit-transform-origin: center right;
        transform-origin: center right
    }
}

@keyframes slide-rotate-ver-l-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
        -webkit-transform-origin: center right;
        transform-origin: center right
    }

    100% {
        -webkit-transform: translateX(-1px) translateZ(130px) rotateY(90deg);
        transform: translateX(-1px) translateZ(130px) rotateY(90deg);
        -webkit-transform-origin: center right;
        transform-origin: center right
    }
}

@-webkit-keyframes slide-rotate-ver-r-fwd {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: center left;
        transform-origin: center left
    }

    100% {
        -webkit-transform: translateZ(130px) rotateY(-90deg);
        transform: translateZ(130px) rotateY(-90deg);
        -webkit-transform-origin: center left;
        transform-origin: center left
    }
}

@keyframes slide-rotate-ver-r-fwd {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: center left;
        transform-origin: center left
    }

    100% {
        -webkit-transform: translateZ(130px) rotateY(-90deg);
        transform: translateZ(130px) rotateY(-90deg);
        -webkit-transform-origin: center left;
        transform-origin: center left
    }
}


@media (max-width:768px) {
    html {
        font-size: 3.5vw;
    }

    .product {
        flex-direction: column;
    }

}

@media (max-width:1000px) {

    .product {
        flex-wrap: wrap;
    }

    .product img {
        width: 80vw;
    }

    input {
        display: none;
    }


    .nav-top img {
        width: 1.5rem;
        height: 1.5rem;
    }

    footer {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }

    .nav-media,
    .contact {
        flex-wrap: wrap;
        padding: 0;

    }

}